<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_add_pet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_add_pet"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeanuPetsParcial"
        tools:targetApi="31">
        <activity
            android:name=".CatalogoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:parentActivityName=".CatalogoActivity"
            android:theme="@style/EditorTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogoActivity" />
        </activity>

        <provider
            android:name=".datos.MascotaProvider"
            android:authorities="com.jesusinfante.keanupetsparcial"
            android:exported="false" />
    </application>

</manifest>